<div class="clear"></div>
<h1>Crear nuevo usuario</h1>
<form class="form-horizontal main-form">
  <div *ngIf="!isValid" class="alert alert-danger">
    <strong>Danger!</strong> {{message}}.
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="firstName">
      <span class="required">*</span>Primer nombre:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="user.firstName" placeholder="Ingrese su primer nombre">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="secondName">Segundo Nombre:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="secondName" [(ngModel)]="user.secondName" id="secondName" placeholder="Ingrese su segundo nombre">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="firstSurname">
      <span class="required">*</span>Primer Apellido:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="firstSurname" [(ngModel)]="user.firstSurname" id="firstSurname" placeholder="Ingrese su primer apellido">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="secondSurname">Segundo Apellido:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="secondSurname" [(ngModel)]="user.secondSurname" id="secondSurname" placeholder="Ingrese su segundo apellido">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="phone">Teléfono:</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" name="phone" [(ngModel)]="user.phone" id="phone" placeholder="Ingrese su teléfono">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="address">
      <span class="required">*</span>Dirección:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="address" [(ngModel)]="user.address" id="address" placeholder="Ingrese su dirección">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" (click)="saveOrUpdate()" class="btn btn-default btn-save">Guardar</button>
    </div>
  </div>
</form>