<h1>Usuarios registrados</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
      <th>Primer nombre</th>
      <th>Segundo nombre</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Teléfono</th>
      <th>Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users">
      <td>{{item.firstName}}</td>
      <td>{{item.secondName}}</td>
      <td>{{item.firstSurname}}</td>
      <td>{{item.secondSurname}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.address}}</td>
    </tr>
  </tbody>
</table>